body {
    background-color: #f8f9fa;
    color: #212529;
    padding-bottom: 50px;
}

body .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

body input,
body textarea,
body select {
    background-color: #ffffff !important;
    color: #212529 !important;
    border-color: #ccc !important;
}

body input::placeholder,
body textarea::placeholder {
    color: #6c757d !important;
}

body input:focus,
body textarea:focus,
body select:focus {
    border-color: #007bff !important;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
}

body input:hover,
body textarea:hover,
body select:hover {
    border-color: #0056b3 !important;
}

body.dark-theme {
    background-color: #000000 !important;
    color: #ffffff !important;
}

body.dark-theme .card {
    background-color: #1a1a1a !important;
    border-color: #444444 !important;
    color: #ffffff !important;
}

body.dark-theme .btn-primary,
body.dark-theme .btn-secondary {
    background-color: #FFD700 !important;
    border-color: #FFD700 !important;
    color: #000000 !important;
}

body.dark-theme input,
body.dark-theme textarea,
body.dark-theme select {
    background-color: #333333 !important;
    color: #ffffff !important;
    border-color: #444444 !important;
}

body.dark-theme input::placeholder,
body.dark-theme textarea::placeholder {
    color: #b0b0b0 !important;
}

body.dark-theme input:focus,
body.dark-theme textarea:focus,
body.dark-theme select:focus {
    border-color: #FFD700 !important;
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.5) !important;
}

body.dark-theme input:hover,
body.dark-theme textarea:hover,
body.dark-theme select:hover {
    border-color: #FFD700 !important;
}

body.dark-theme #title {
background-color: #FFD700 !important;
color: #000000 !important;
}

body #title {
    background-color: #007bff !important;
    color: white !important;
}

.theme-icon {
    width: 24px;
    height: 24px;
}

#lightIcon {
    stroke: black;
}

#darkIcon {
    stroke: black;
    display: none;
}

body.dark-theme #lightIcon {
    display: none;
}

body.dark-theme #darkIcon {
    display: inline;
    stroke: black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

body.dark-theme #queryResults {
    color: #ffffff !important;
}

body.dark-theme #queryResults table,
body.dark-theme #queryResults td,
body.dark-theme #queryResults th {
    color: #ffffff !important;
}

body.dark-theme #queryResults td {
    border-color: #444444 !important;
}

body.dark-theme #queryResults th {
    background-color: #333333 !important;
}